body {
  margin: 0;
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
  font-size: 14px;
  color: #5e6d82;
}

.dead {
  color: #bbbec4;
}

.failed {
  color: #ed3f14;
}

.running {
  color: #19be6b;
}

.mw300 {
  max-width: 300px;
}

.mw600 {
  max-width: 600px;
}

.row {
  padding-bottom: 16px;
}

.row .title {
  font-size: 1.17em;
  color: #1f2f3d;
  font-weight: bold;
}

.row .interval {
  margin-top: 8px;
  margin-bottom: 16px;
}

.row .top-interval {
  margin-top: 16px;
}

.row .bottom-interval {
  margin-bottom: 16px;
}

.row .label {
  display: inline-block;
  width: 70px;
}

.row .sample {
  display: inline-block;
  width: 120px;
}

.row .desc {
  display: inline-block;
}

.row .output {
  cursor: zoom-in;
}

.row .output,img {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select:none;
}

.row .output-area {
  max-height: 100px;
  border: 1px solid #dddee1;
  overflow: hidden;
}

.row .right {
  text-align: right;
}

#bear {
  height: 96.8px;
}

#header {
  text-align: right;
}

#footer {
  margin-top: 736px;
  max-width: 414px;
}

#main {
  margin: 0 0 0 2%;
}

#shadow {
  width: 100%;
  display: block;
}
